## Visual Studio / Windows
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build outputs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/
build/
bld/

## NuGet
packages/
*.nupkg
*.nuget.props
*.nuget.targets

## Logs & temp
*.log
*.tmp
*.cache

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
